/* Styling */
@import "normalize.css";
@import "styles.css";
@import "icons.css";

// Font Types 

@import url('https://fonts.googleapis.com/css?family=Cormorant+SC');
@import url('https://fonts.googleapis.com/css?family=Crimson+Text');

// Body Styling 

body {
  background-image: url("../img/graveyard.jpg");
 background-attachment: fixed;
}

// Icon Styling 

i {
  font-size: 15em;
  color: white;
}

// Weather Info Styling

.safe {
  font-size: 3em;
}

.city {
  font-size: 2.5em;
}

.temp {
  font-size: 2em;
}

// Main Header Styling

.main {
  font-size: 3em;
	font-family: 'Cormorant SC', serif;
	font-size: 8.5vw;
	color: white;
  text-shadow: 0 0 5px white;
}

//Header Styling 

h1 {
  text-align: center;
  color: white; 
  font-family: 'Cormorant SC', serif;
}

h2 {
  color: white; 
  font-family: 'Cormorant SC', serif;
}

//Secondary Section Styling 

article {
  background-color: rgba(0, 0, 0, 0.43);
  color: white; 
  padding: 1em;
  margin-top: 20px; 
  margin: 20px auto; 
  width: 85%;
  border: 3px double white; 
  line-height: 1.5em;
}

.article p {
  font-family: 'Crimson Text', serif;
}

//Main Section Styling 

section {
  background-color: rgba(0, 0, 0, 0.43);
  display: flex;
  width: 90%; 
  justify-content: center;
  flex-direction: column;
  align-items: center;
  margin: 0 auto; 
}

//Article Go and Stop Styling

#g {
  color: green; 
}

#r {
  color: red; 
}

//Conditioning Tag Styling 
//.....Cloudy Styling

.cloudy {
    border: 8px solid green;
  color: green;
}

.cloudy1 {
  color: green; 
}

.cloudy i {
    text-shadow: 0 0 20px green;
}

//.....Clear Styling

.clear {
     border: 8px solid red;
}

.clear1 {
  color: red;
}

.clear i {
    text-shadow: 0 0 15px red;
}

//Drop-Down Styling

nav {
  
  margin-top: 10px; 

}

nav .drop-down {
  list-style: none; 
  overflow: hidden; 
  height: 172px; 
  width: 200px;
  color: white;
  margin: 0 auto;
  padding: 0;
  text-align: center;
  -webkit-transition: height 0.3s ease;
          transition: height 0.3s ease;
  	font-family: 'Cormorant SC', serif;
}

nav .drop-down.closed {
  height: 40px;
}

nav li {
  font-size: 1.5em;
}

nav .drop-down li a {
  display: block;
  color: #ecf0f1;
  text-decoration: none;
  margin-bottom: 30px;
  font-family: 'Cormorant SC', serif;
}


nav .drop-down li:first-child a:after {
  content: "\25BC";
  float: right;
  margin-left: -30px; 
  margin-right: 5px;
}


/* Mobile: 320px = 20em */
@media screen and (min-width: 35em) { 
  section {
    width: 400px;
  }
  
  i {
    font-size: 18em; 
  }
  
}
