/* Styling */
@import "normalize.css";
@import "styles.css";
@import "icons.css";

body {
    background: black;
}

// Drawer
aside {
  background: rgba(255, 255, 255, 0.71);
  position: fixed;
  height: 100%;
  min-height: 100%;
  left: -250px;
  width: 250px;
  // always on top
  z-index: 999999;
  // animate
  transition: left .25s;
}

// Show Drawer
.drawer {
  left: 0;
}

// All Sections
section {
  position: absolute;
  height: 100%;
  width: 100%;
}
// Section 1
#one {
  background-image: url("../img/seattle.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
// Section 2
#two {
  background-image: url("../img/newyork.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
// Section 3
#three {
  background-image: url("../img/trees.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
// :target Selection from Sidebar
:target {
  z-index: 1;
}
